/*
	Exam 2
	
	Name: Bradley Aiken
	Date: 3/5/2018
*/

/* Structural Styles */
html {
	background-color: rgb(173,189,227);
}

body {
	background-color: rgb(227,210,173);
	font-family: 'Century Gothic',sans-serif;
}

footer {
	background-color: rgb(208,184,109);
	padding-top: 5px;
	padding-bottom: 5px;
}

address {
	font-style: normal;
	font-size: .9em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Heading Styles */
h1, h2 {
	font-weight: normal;
}

/* Navigation Styles */
nav > ul {
	list-style-type: none;
	line-height: 2em;
	font-size: .9em;
}

nav > ul a:hover, nav > ul a:active {
	color: rgb(212,35,35);
}

/* Article Styles */
article#tour_summary h1 {
	font-size: 2.2em;
	letter-spacing: .2em;
}

/* Aside Styles */



/* Blockquote Styles */

